<html>

<header>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <body>
    <script type="text/javascript" src="http://g.alicdn.com/dingding/dingtalk-pc-api/2.3.1/index.js"></script>


    <script>
/*        DingTalkPC.config({                                                //dd.config方法会对参数进行验证
        agentId : _config.agentid,
        corpId : _config.corpId,
        timeStamp : _config.timeStamp,
        nonceStr : _config.nonceStr,
        signature : _config.signature,
        jsApiList : [                              //需要调用的借口列表
            'runtime.info',
            'biz.contact.choose',              //选择用户接口
            'device.notification.confirm',     //confirm,alert,prompt都是弹出小窗口的接口
            'device.notification.alert',
            'device.notification.prompt',
            'biz.util.openLink' ]
        });

        DingTalkPC.runtime.permission.requestAutoCode({
            corpId : "",
            onSuccess : function(result){
            },
            onFail : function (error) {
                document.write("验证错误！");
            }
        })*/

    dd.ready(function () {
        dd.device.notification.confirm({
            message: "如果我是Dj，你爱我吗",
            title: "提示",
            buttonLabels: ['爱', '不爱'],
            onSuccess : function(result) {
                //onSuccess将在点击button之后回调
                /*
                {
                    buttonIndex: 0 //被点击按钮的索引值，Number类型，从0开始
                }
                */
            },
            onFail : function(err) {}
        });
    })

    </script>

    123123


    </body>
</header>



</html>
